 :root {
    --background-color: #121212;
    --background-color-lighter: #202020;
    --far-background-color: #080808;
    --error-color: hsl(0, 100%, 67%);
 }
 
 .fullscreen-container {
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--far-background-color);
 }
 
 .credentials-container {
    --color: var(--background-color);
    background-color: var(--color);
    /* box-shadow: 0 0 15px 0 var(--color); */
    width: 80%;
    max-width: 800px;
    padding: 2rem;
    border: 1px solid black;
}

.credentials-title {
    margin:0;
    font-size: 2rem;
    color:#F5E8D8;
    text-align: center;
    font-weight: normal;
}

.credentials-form {
    display:flex;
    flex-direction: column;
    color:white;
    gap:20px;
    padding:1px;
    margin-top:2rem;
}

.input-group {
    display:flex;
    flex-direction: column;
    gap:7px
}

.input-group label {
    font-weight: lighter;
}

.input-group input {
    font-size: 1.25rem;
    color:white;
    padding: .5rem;
    border:none;
    outline: none;
    border: 1px solid black;
    font-weight: lighter;
    background-color: var(--background-color-lighter);
}

.input-group input:focus {
    /* box-shadow: 0 0 0 1px rgb(0,0,0); */
    border: 1px solid grey
}

.credentials-error {
    color:var(--error-color);
    text-align: center;
}

.credentials-button {
    border: 1px solid black;
    padding: .5rem;
    width:40%;
    margin:auto;
    background-color: #ffffff;
}

.credentials-button:active {
    background-color: #c2c2c2;
    color: black;
}

.redirector {
    display: flex;
    align-items: center;
    justify-content: center;    
    font-size: .8rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.redirector p {
    margin-right: .5rem;
}

.redirect-button {
    color:rgb(112, 112, 255);
    text-decoration: underline;
}

/* .login-container > input {
   width: 100%;
   margin: 2rem;
}  */